.click-me1 {
  cursor: pointer;
  color: #0088cc;
}


.click-show1:hover {
  text-decoration: underline;
}

.click-me2 {
  cursor: pointer;
  color: #0088cc;
}

.click-show2:hover {
  text-decoration: underline;
}

.click-me3 {
  cursor: pointer;
  color: #0088cc;
}

.click-show3:hover {
  text-decoration: underline;
}

.click-me4 {
  cursor: pointer;
  color: #0088cc;
}

.click-show4:hover {
  text-decoration: underline;
}

.click-me5 {
  cursor: pointer;
  color: #0088cc;
}

.click-show5:hover {
  text-decoration: underline;
}

.click-me6 {
  cursor: pointer;
  color: #0088cc;
}

.click-show6:hover {
  text-decoration: underline;
}

.click-me7 {
  cursor: pointer;
  color: #0088cc;
}

.click-show7:hover {
  text-decoration: underline;
}

.click-me8 {
  cursor: pointer;
  color: #0088cc;
}

.click-show8:hover {
  text-decoration: underline;
}

.click-me9 {
  cursor: pointer;
  color: #0088cc;
}

.click-show9:hover {
  text-decoration: underline;
}

.click-me10 {
  cursor: pointer;
  color: #0088cc;
}

.click-show10:hover {
  text-decoration: underline;
}

.click-me11 {
  cursor: pointer;
  color: #0088cc;
}

.click-show11:hover {
  text-decoration: underline;
}

.click-me12 {
  cursor: pointer;
  color: #0088cc;
}

.click-show12:hover {
  text-decoration: underline;
}

.click-me13 {
  cursor: pointer;
  color: #0088cc;
}

.click-show13:hover {
  text-decoration: underline;
}

.click-me14 {
  cursor: pointer;
  color: #0088cc;
}

.click-show14:hover {
  text-decoration: underline;
}

.click-me15 {
  cursor: pointer;
  color: #0088cc;
}

.click-show15:hover {
  text-decoration: underline;
}

.click-me16 {
  cursor: pointer;
  color: #0088cc;
}

.click-show16:hover {
  text-decoration: underline;
}

.click-me17 {
  cursor: pointer;
  color: #0088cc;
}

.click-show17:hover {
  text-decoration: underline;
}

.click-me18 {
  cursor: pointer;
  color: #0088cc;
}

.click-show18:hover {
  text-decoration: underline;
}

.click-me19 {
  cursor: pointer;
  color: #0088cc;
}

.click-show19:hover {
  text-decoration: underline;
}

#jav-hidden {
  display: none;
}

#oper-hidden {
  display: none;
}

#variable-hidden {
  display: none;
}

#vnc-hidden {
  display: none;
}

#funct-hidden {
  display: none;
}

#methods-hidden {
  display: none;
}

#argu-hidden {
  display: none;
}

#para-hidden {
  display: none;
}

#retur-hidden {
  display: none;
}

#chain-m-hidden {
  display: none;
}

#string-hidden {
  display: none;
}

#boo-hidden {
  display: none;
}

#undef-hidden {
  display: none;
}

#nan-hidden {
  display: none;
}

#escap-hidden {
  display: none;
}

#alert-hidden {
  display: none;
}

#comment-hidden {
  display: none;
}

#jquery-hidden {
  display: none;
}

#attrib-hidden {
  display: none;
}
